{% extends "::base.html.twig" %}

{% block title %}Guestbook{% endblock %}

{% block body %}
    <a href="{{ path('register') }}">Registration</a>
    {{ form(form) }}
    <hr>
    {% for message in list %}
        <div class="message">
            <p>{{ message.content }}</p>
            <p>{{ message.username }} <i>{{ message.email }}</i></p>
        </div>
    {% endfor %}
{% endblock body %}

{% block stylesheets %}
    <style>
        .message {
            width: 50%;
            padding: 0 10px;
            margin: 20px auto 0;
            border: 1px solid black;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
        .message>p {
            line-height: 80%;
        }
    </style>
{% endblock stylesheets %}